 <div class="container">
        <h2 > Popular books this year</h2>
        <div class="row shadow">
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book1.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
             <h2 class="myh2">amazing</h2>
             <h4 class="myh4">By Ellie Thomson, Henry</h4>
             <h6 class="myh6">$30</h6>
             <button (click)="addToCart({name: 'By Ellie Thomson, Henry', price: '$30', imgName: 'book1.svg'})"  class="btn btn-outline-success btn1">Add to Cart</button>
            </div>
        
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book2.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">remember</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart()" type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book3.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">be positive</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart()" type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book4.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">design</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart()" type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book5.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">breakfast time</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart()" type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book6.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">design pt2</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart()" type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
        </div>

        <div class="row two shadow"> 
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book7.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
            <h2 class="myh2">magazine</h2>
            <h4 class="myh4">By Ellie Thomson, Henry</h4>
            <h6 class="myh6">$30</h6>
            <button (click)="addToCart()" type="button" class="btn btn-outline-success btn1">Add to Cart</button>
           </div>
            
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book8.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
            <h2 class="myh2">let's go ride</h2>
            <h4 class="myh4">By Ellie Thomson, Henry</h4>
            <h6 class="myh6">$30</h6>
            <button (click)="addToCart()" type="button" class="btn btn-outline-success btn1">Add to Cart</button>
           </div>
            
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book9.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
            <h2 class="myh2">retirement</h2>
            <h4 class="myh4">By Ellie Thomson, Henry</h4>
            <h6 class="myh6">$30</h6>
            <button (click)="addToCart()" type="button" class="btn btn-outline-success btn1">Add to Cart</button>
           </div>
            
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book10.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
            <h2 class="myh2">book Mockup</h2>
            <h4 class="myh4">By Ellie Thomson, Henry</h4>
            <h6 class="myh6">$30</h6>
            <button (click)="addToCart()" type="button" class="btn btn-outline-success btn1">Add to Cart</button>
           </div>
            
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book11.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
            <h2 class="myh2">parrot</h2>
            <h4 class="myh4">By Ellie Thomson, Henry</h4>
            <h6 class="myh6">$30</h6>
            <button (click)="addToCart()" type="button" class="btn btn-outline-success btn1">Add to Cart</button>
           </div>
            
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book12.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
            <h2 class="myh2">brochure</h2>
            <h4 class="myh4">By Ellie Thomson, Henry</h4>
            <h6 class="myh6">$30</h6>
            <button (click)="addToCart()" type="button" class="btn btn-outline-success btn1">Add to Cart</button>
        </div>
          </div>
         
      </div>
      <div>
         <!-- bg2 -->
          <img src="../../assets/images/bg2.svg" alt="bg2" class="bg2">
      </div>