<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2 > Popular books this year</h2>
        <div class="row shadow">
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 ">
            <a href="# "><img src="../../assets/images/book1.svg" class="img-fluid" alt="Photo 1"></a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4 ">
            <a href="#"><img src="../../assets/images/book10.svg" class="img-fluid" alt="Photo 2"></a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
           <a href="#"><img src="../../assets/images/book11.svg" class="img-fluid" alt="Photo 3"></a> 
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
           <a href="#"><img src="../../assets/images/book12.svg" class="img-fluid" alt="Photo 4"></a> 
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="#"><img src="../../assets/images/book2.svg" class="img-fluid" alt="Photo 5"></a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
           <a href="#"><img src="../../assets/images/book3.svg" class="img-fluid" alt="Photo 6"></a> 
          </div>
        </div>

        <div class="row two shadow"> 
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
             <a href="#"><img src="../../assets/images/book3.svg" class="img-fluid" alt="Photo 1"></a> 
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
              <a href="#"><img src="../../assets/images/book4.svg" class="img-fluid" alt="Photo 2"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
             <a href="#"><img src="../../assets/images/book5.svg" class="img-fluid" alt="Photo 3"></a> 
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
              <a href="#"><img src="../../assets/images/book6.svg" class="img-fluid" alt="Photo 4"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
             <a href="#"><img src="../../assets/images/book7.svg" class="img-fluid" alt="Photo 5"></a> 
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="#"><img src="../../assets/images/book8.svg" class="img-fluid" alt="Photo 6"></a>  
            </div>
          </div>
         
      </div>
      <div>
         <!-- bg2 -->
          <img src="../../assets/images/bg2.svg" alt="bg2" class="bg2">
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>