<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best-sellers</title>
</head>
<body>
    <div class="container">
        <div class='row'>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book7.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">magazine</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book8.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">let's go ride</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book9.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">retirement</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book10.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">book Mockup</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book11.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">parrot</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book12.svg' class="img-fluid " alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">brochure</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book13.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">Don't Quit</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book14.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">Don't Give Up</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book15.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">magazine design</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book16.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">cookbook</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book17.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">Mockup</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book18.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">book Mockup pt2</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book19.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2"> Mockup pt2</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book20.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">happy world</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book21.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">ski breatheski</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book22.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">be yourself</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book23.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">the bike guy</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book24.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">psd Mockup</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book25.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">flowers</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book26.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">hardcover</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book27.svg' class="img-fluid" alt="Photo 1"> 
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">covers</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book28.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">book covers</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book29.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">winter nature</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book30.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">nature</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button type="button" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
          </div>
        </div>
   
</body>
</html>
