
    <div class="container">
        <div class='row'>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book7.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">magazine</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'magazine', price: '$30', imgName: 'book7.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book8.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">let's go ride</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'lets go', price: '$30', imgName: 'book78.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book9.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">retirement</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'retirement', price: '$30', imgName: 'book9.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book10.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">book Mockup</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'book mockup', price: '$30', imgName: 'book10.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book11.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">parrot</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'parrot', price: '$30', imgName: 'book11.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book12.svg' class="img-fluid " alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">brochure</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'brochure', price: '$30', imgName: 'book12.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book13.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">Don't Quit</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'dint quit', price: '$30', imgName: 'book13.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book14.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">Don't Give Up</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'dont give up', price: '$30', imgName: 'book14.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book15.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">magazine design</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'magazine', price: '$30', imgName: 'book15.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book16.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">cookbook</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'cookbook', price: '$30', imgName: 'book16.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book17.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">Mockup</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'mockup', price: '$30', imgName: 'book17.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book18.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">book Mockup pt2</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'book mockup pt2', price: '$30', imgName: 'book18.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book19.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2"> Mockup pt2</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'mockup pt2', price: '$30', imgName: 'book19.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book20.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">happy world</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'happy world', price: '$30', imgName: 'book20.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book21.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">ski breatheski</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'ski breatheski', price: '$30', imgName: 'book21.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book22.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">be yourself</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'be yourself', price: '$30', imgName: 'book22.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book23.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">the bike guy</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'the bike guy', price: '$30', imgName: 'book23.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book24.svg' class="img-fluid img1" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">psd Mockup</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'psd mockup', price: '$30', imgName: 'book24.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book25.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">flowers</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'flowers', price: '$30', imgName: 'book25.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book26.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">hardcover</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'hardcover', price: '$30', imgName: 'book26.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book27.svg' class="img-fluid" alt="Photo 1"> 
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">covers</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'covers', price: '$30', imgName: 'book27.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book28.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">book covers</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'book covers', price: '$30', imgName: 'book28.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book29.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">winter nature</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'winter nature', price: '$30', imgName: 'book29.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
                
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <img src='../../assets/images/book30.svg' class="img-fluid" alt="Photo 1">
                <h6 class="myh1">biography</h6>
                <h2 class="myh2">nature</h2>
                <h4 class="myh4">By Ellie Thomson, Henry</h4>
                <h6 class="myh6">$30</h6>
                <button (click)="addToCart({name: 'nature', price: '$30', imgName: 'book30.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
               </div>
          </div>
        </div>