<ng-container *ngIf="cartServ.carts$ | async as carts">
    <div class="cart-container" *ngIf="carts.length">
        <ng-container *ngFor="let cart of carts">
            <div class="book-item">
                <img [src]="'../../assets/images/' + cart.imgName" alt="{{cart.name}}" class="book-image">
                <div class="book-details">
                    <h2 class="book-title">{{cart.name}}</h2>
                    <p class="book-price">{{cart.price | currency}}</p>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="empty-cart-message" *ngIf="!carts.length">
        <p>დამატებული წიგნები არ მოიძებნა</p>
    </div>
</ng-container>
<button class="clear-cart-button" (click)="clearCarts()">Clear Cart</button>
