
    <div class="container">
        <h2>Recently Added</h2>
        <div class="row shadow">
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book15.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
            <h2 class="myh2">magazine design</h2>
            <h4 class="myh4">By Ellie Thomson, Henry</h4>
            <h6 class="myh6">$30</h6>
            <button (click)="addToCart({name: 'magazine design', price: '$30', imgName: 'book15.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
           </div>
            
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book16.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
            <h2 class="myh2">cookbook</h2>
            <h4 class="myh4">By Ellie Thomson, Henry</h4>
            <h6 class="myh6">$30</h6>
            <button (click)="addToCart({name: 'cookbook', price: '$30', imgName: 'book16.svg'})"class="btn btn-outline-success btn1">Add to Cart</button>
           </div>
            
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book17.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
            <h2 class="myh2">Mockup</h2>
            <h4 class="myh4">By Ellie Thomson, Henry</h4>
            <h6 class="myh6">$30</h6>
            <button (click)="addToCart({name: 'Mockup', price: '$30', imgName: 'book17.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
           </div>
           <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book18.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
            <h2 class="myh2">book Mockup pt2</h2>
            <h4 class="myh4">By Ellie Thomson, Henry</h4>
            <h6 class="myh6">$30</h6>
            <button (click)="addToCart({name: 'book Mockup', price: '$30', imgName: 'book18.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
           </div>
            
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book19.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
            <h2 class="myh2"> Mockup pt2</h2>
            <h4 class="myh4">By Ellie Thomson, Henry</h4>
            <h6 class="myh6">$30</h6>
            <button (click)="addToCart({name: 'Mockup pt2', price: '$30', imgName: 'book19.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
           </div>
            
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <img src='../../assets/images/book20.svg' class="img-fluid" alt="Photo 1">
            <h6 class="myh1">biography</h6>
            <h2 class="myh2">happy world</h2>
            <h4 class="myh4">By Ellie Thomson, Henry</h4>
            <h6 class="myh6">$30</h6>
            <button (click)="addToCart({name: 'happy world', price: '$30', imgName: 'book20.svg'})" class="btn btn-outline-success btn1">Add to Cart</button>
           </div>
        </div>
      </div>