<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Recently Added</h2>
        <div class="row shadow">
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
           <a href="#"><img src="../../assets/images/book13.svg" class="img-fluid" alt="Photo 1"></a> 
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="#"><img src="../../assets/images/book14.svg" class="img-fluid" alt="Photo 2"></a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="#"><img src="../../assets/images/book15.svg" class="img-fluid" alt="Photo 3"></a> 
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="#"><img src="../../assets/images/book16.svg" class="img-fluid" alt="Photo 4"></a> 
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="#"><img src="../../assets/images/book17.svg" class="img-fluid" alt="Photo 5"></a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="#"><img src="../../assets/images/book18.svg" class="img-fluid" alt="Photo 6"></a>
          </div>
        </div>
      </div>
</body>
</html>