.footer{
    background-color: #1D2328;
    color: rgba(255, 255, 255, 0.542);
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    }

.div2{
    margin-bottom: 20px;
    display: inline-block;
    
}
.sum{
    padding-left: 10px;
    width: 1519px;
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
    
}

.logo1{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.div3{
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
   
}
.div4{
    
    margin-top: 10px;
    margin-left: 45px;
    display: inline-block;
}

@media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }}