
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.component.scss">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        <div class="container">
            <div class="div2">
                <h2>FastKart.</h2>
                <h4>It is a long established fact that a reader will be distracted by a readable content. </h4>
                <a href="https://www.facebook.com/"><img src="../../assets/images/facebook.svg" alt="facebook" class="logo1"></a>
                <a href="https://www.google.com/"> <img src="../../assets/images/google.svg" alt="google" class="logo1"></a>
                <a href="https://twitter.com/?lang=en"><img src="../../assets/images/square-twitter.svg" alt="twitter" class="logo1"></a>
                <a href="https://www.instagram.com/"> <img src="../../assets/images/instagram.svg" alt="instagram" class="logo1"></a>
                <a href="https://www.pinterest.com/"> <img src="../../assets/images/pinterest (2).svg" alt="pinterest " class="logo1"></a>
            </div>
            <div class="div3">
                <h3>About FastKart</h3>
                <h5>About us</h5>
                <h5>Contact us</h5>
                <h5>terms & conditions</h5>
                <h5>careers</h5>
            </div>
            <div class="div4">
                <h3>useful link</h3>
                <h5>Your Order</h5>
                <h5>Your account</h5>
                <h5>Track Order</h5>
                <h5>Your Wishlist</h5>
            </div>
        </div>
        <img src="../../assets/images/footerpic.svg" alt="pic" class="sum">
    </div>
</body>
</html>