<!-- products -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
</head>
<body>
    <div class='container'>
        <h2>Categories</h2>
        <img src="../../assets/images/div.slick-list.svg" alt="books" class="books">
        <img src="../../assets/images/div.shelf.svg" alt="shelf" class="shelf">


        <div class="row shadow">
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4 ">
              <a href="# "><img src="../../assets/images/book1.svg" class="img-fluid" alt="Photo 1"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4 ">
              <a href="#"><img src="../../assets/images/book10.svg" class="img-fluid" alt="Photo 2"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
             <a href="#"><img src="../../assets/images/book11.svg" class="img-fluid" alt="Photo 3"></a> 
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
             <a href="#"><img src="../../assets/images/book12.svg" class="img-fluid" alt="Photo 4"></a> 
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
              <a href="#"><img src="../../assets/images/book2.svg" class="img-fluid" alt="Photo 5"></a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
             <a href="#"><img src="../../assets/images/book3.svg" class="img-fluid" alt="Photo 6"></a> 
            </div>
          </div>
  
          <div class="row two shadow"> 
              <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
               <a href="#"><img src="../../assets/images/book3.svg" class="img-fluid" alt="Photo 1"></a> 
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <a href="#"><img src="../../assets/images/book4.svg" class="img-fluid" alt="Photo 2"></a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
               <a href="#"><img src="../../assets/images/book5.svg" class="img-fluid" alt="Photo 3"></a> 
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                <a href="#"><img src="../../assets/images/book6.svg" class="img-fluid" alt="Photo 4"></a>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
               <a href="#"><img src="../../assets/images/book7.svg" class="img-fluid" alt="Photo 5"></a> 
              </div>
              <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
              <a href="#"><img src="../../assets/images/book8.svg" class="img-fluid" alt="Photo 6"></a>  
              </div>
            </div>
            <div class="row shadow">
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                 <a href="#"><img src="../../assets/images/book13.svg" class="img-fluid" alt="Photo 1"></a> 
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <a href="#"><img src="../../assets/images/book14.svg" class="img-fluid" alt="Photo 2"></a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <a href="#"><img src="../../assets/images/book15.svg" class="img-fluid" alt="Photo 3"></a> 
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <a href="#"><img src="../../assets/images/book16.svg" class="img-fluid" alt="Photo 4"></a> 
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <a href="#"><img src="../../assets/images/book17.svg" class="img-fluid" alt="Photo 5"></a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
                  <a href="#"><img src="../../assets/images/book18.svg" class="img-fluid" alt="Photo 6"></a>
                </div>
              </div>
    </div>

</body>
</html>