.public-sans {
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


.shelf{
    
    margin-left: 160px;
    width: 1040px;
    margin-bottom: 40px;
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}
.books{
    margin-left: 170px;
    width: 80%;
}
.row  {
    margin-top: 20px;
}
.myh1{
    color: #4A5568;
    font-family:Public Sans;
    font-size: 15px;
}
.myh2{
   
    font-size: 20px;
    font-family:Public Sans;

}
.myh4{
    font-size: 13px;
    font-family:Public Sans;

}
.myh6{
    color: #5F84A0;
    font-size: 10px;
    font-family:Public Sans;
}
.container{
    margin-top: 70px;
}

.img1{
    width: 256px;
    height: 256px;
}

.btn1{
    width: 100px; 
    height: 30px;
    font-size: 12px;
}